.ct-body {
    background-color: #FFF6F5;
}

.ct-body a {
    color: #57423F;
}

.ct-body header.tree-nav {
    z-index: 400000;
}

header .content {
    margin: 0 0 1.5rem;
}

#sidebar-toggle .icon {
    transform: translate(-40%);
    border-radius: 0 0 9vw 0;
    background-color: #F3EED9;
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 10vw;
}

#sidebar-close .icon {
    width: 100%;
    text-align: right;
}

#sidebar {
    background-color: #F3EED9;
    padding-top: 2vh;
}

#sidebar .content a.row {
    justify-content: center;
    align-items: center;
}

#sidebar .content a h6 {
    color: #E73340;
    text-transform: uppercase;
}

#sidebar img {
    width: 9vw;
}

.ct-body .chart {
    height: 400px;
}

.ct-body .chart.short {
    height: 280px;
}

#population select {
    width: 10rem;
}

#trend-sel span {
    display: none;
}

#ura-zones-map {
    height: 80vh;
}

#ura-zones-map .map-country-tooltip {
    background-color: transparent;
    border: 0px;
    color: #57423F;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: none;
}

#ura-zones-map .info {
    float: none;
    clear: none;
    position: absolute;
    bottom: 20px;
}

#ura-zones-map .info h3 {
    color: #57423F;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
}

#ura-zones-map .info .legend {
    line-height: 1.4rem;
    background-color: #57423F;
    color: #FFF6F5;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

#ura-zones-map .info .legend i {
    display: inline-flex;
    width: 1.2rem;
    height: 1rem;
    margin-right: 0px;
    opacity: 0.8;
}

#geo-age-group.gender-activated {
    transform: translateX(0);
    transition: 1s ease transform;
}

#geo-age-gender {
    transform: translateX(-150%);
}

#geo-age-gender.active {
    transition: 1.1s ease-in-out transform;
    transform: translate(70%, -105%);
    z-index: 1;
}


/* #gd-content {
    display: none;
} */

@media screen and (max-width:767px) {}