:root {
    --pri-color: #E73340;
    --pri-accent: #F3EED9;
    --pri-accent-o8: rgb(243, 237, 216, 0.8);
    --sec-color: #F6AE2D;
    --sec-accent: rgb(246, 240, 237 0.3);
    --sec-accent-o8: rgb(246, 240, 237, 0.8);
    --ter-color: #285943;
    --gen-text: #57423F;
}

body {
    background-color: var(--sec-accent);
}

.ct-body a {
    color: var(--gen-text);
}

.ct-body .tree-nav-body {
    position: relative;
}

.ct-body .tree-nav {
    background-color: var(--pri-accent);
    padding: 0.2rem 1.5rem;
    z-index: 400002;
}

.ct-body .tree-nav img {
    width: 9vw;
}

.ct-body .tree-nav .content a.row {
    justify-content: center;
    align-items: center;
}

.ct-body .tree-nav .content a h6 {
    color: var(--pri-color);
    text-transform: uppercase;
}

.ct-body .tree-nav .tree-item-header {
    margin: 0 0;
    font-size: 1.1rem;
}

.ct-body .chart {
    height: 500px;
}

.ct-body .chart.short {
    height: 350px;
}

.ct-body section {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.ct-body section:not(#plan-area) {
    overflow: scroll;
}

.ct-body section:not(#plan-area) .row>* {
    margin: 2rem 0;
}

.ct-body .form-group {
    margin: 0 0;
}

.ct-body .form-group .form-group-label {
    background-color: var(--pri-accent);
    border: 0;
    color: var(--pri-color);
    padding: 0.8rem 8vw;
}

.ct-body .tree-nav-body .tree-nav-content {
    padding: 0 0;
    overflow: hidden;
}

#sidebar-toggle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 400001;
    padding: 0;
}

#sidebar-toggle .icon {
    transform: translate(-30%);
    box-shadow: 1px 1px 1px var(--cirrus-light-gray);
    border-radius: 0 0 80px 0;
    background-color: var(--sec-accent-o8);
    width: 3rem;
}

#sidebar-toggle .icon img {
    padding-top: 5px;
}

#sidebar-close .icon {
    width: 100%;
    text-align: right;
    padding-right: 0.2rem;
}

#population {
    text-align: center;
}

#trend-sel span {
    display: none;
}

#plan-area .tab-container ul.row {
    min-height: 5vh;
    padding: 0 0;
    margin: 0 0;
    border: 0;
    font-size: var(--font-size-m);
}

#plan-area .tab-container.disabled li .tab-item-content,
#plan-area .tab-container.disabled li:hover .tab-item-content {
    border-bottom: 0;
    background-color: var(--cirrus-light-gray);
    color: var(--cirrus-dark-gray);
    cursor: not-allowed;
}

#plan-area .tab-container li .tab-item-content {
    box-sizing: border-box;
    background-color: var(--pri-accent);
    color: var(--gen-text);
    height: 100%;
}

#plan-area .tab-container li:hover .tab-item-content {
    border-bottom-color: var(--pri-color);
}

#plan-area .tab-container li.selected .tab-item-content {
    border-bottom-color: var(--pri-color);
    color: var(--pri-color);
}

#plan-area .tab-content-container {
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 5vh;
    height: 95vh;
    width: 100%;
    transform: translateX(200%);
    transition: .5s ease-in-out transform;
    background-color: var(--sec-accent-o8);
}

#plan-area .tab-content-container.active {
    z-index: 400000;
    transform: translate(0, 0);
    transition: .5s ease-in-out transform;
}

#plan-area .tab-content {
    padding: 1.3rem;
}

#ura-zones-map {
    height: 95vh;
}

#ura-zones-map:focus {
    box-shadow: none;
}

#ura-zones-map .info h5,
#ura-zones-map .info p,
#ura-zones-map .map-country-tooltip p {
    margin: 0;
}

#ura-zones-map .map-country-tooltip {
    background-color: var(--sec-accent-o8);
    text-align: center;
    border: 0px;
    color: var(--gen-text);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: none;
}

#ura-zones-map .info {
    background-color: var(--sec-accent-o8);
    padding: 0.5rem;
    float: none;
    clear: none;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

#ura-zones-map .info>* {
    color: var(--gen-text);
}

#ura-zones-map .info h6 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#ura-zones-map .info #area-info,
#ura-zones-map .info p {
    margin-bottom: 0.5rem;
}

#ura-zones-map .leaflet-control a {
    padding: 0;
}

#ura-zones-map .info .legend {
    line-height: 1.4rem;
    background-color: var(--gen-text);
    color: var(--sec-accent);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

#ura-zones-map .info .legend i {
    display: inline-flex;
    width: 1.2rem;
    height: 1rem;
    margin-right: 0px;
    opacity: 0.8;
}

#geo-age-group.gender-activated {
    transform: translateX(0);
    transition: 1s ease transform;
}

#geo-age-gender {
    transform: translateX(-150%);
}

#geo-age-gender.active {
    transition: 1.1s ease-in-out transform;
    transform: translate(70%, -105%);
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .ct-body header.tree-nav {
        padding: 0.2rem 0.2rem;
        min-width: 17rem;
    }
}

@media screen and (max-width: 640px) {
    .ct-body header.tree-nav {
        padding: 0.2rem 0.8rem;
    }
    .tree-nav-content .form-group {
        display: block;
        width: 100vw;
    }
    .ct-body .form-group .form-group-label {
        width: 100%;
        padding: 0.2rem;
        text-align: center;
    }
    .ct-body .form-group select {
        width: 100%;
        padding: 0.2rem 1rem;
        text-align: center;
    }
    .ct-body .form-group span.info {
        text-align: center;
    }
    #plan-area .tab-container ul.row {
        height: 10vh;
    }
    #plan-area .tab-content-container {
        top: 10vh
    }
    #ura-zones-map {
        height: 90vh;
    }
    #ura-zones-map .info {
        width: 100vw;
        bottom: 23.2px;
    }
    #ura-zones-map .info #area-info,
    #ura-zones-map .info p {
        margin: 0.1rem 1rem;
    }
    #ura-zones-map .leaflet-right .leaflet-control-zoom {
        margin-right: 0.2rem;
    }
    #ura-zones-map .leaflet-bottom .leaflet-control-zoom {
        margin-bottom: 1.5rem;
    }
    #plan-area .tab-container li .tab-item-content {
        padding: 0.2rem 0.4rem;
        border-bottom: 0;
    }
    #plan-area .tab-container li:nth-child(odd) {
        border-right: 1px solid var(--ter-color);
    }
}