:root {
    --pri-color: #E73340;
    --pri-accent: #F3EED9;
    --sec-color: #F6AE2D;
    --sec-accent: #EDF2EF;
    --sec-accent-o8: rgba(237, 242, 239, 0.8);
    --ter-color: #285943;
    --gen-text: #57423F;
}

body {
    background-color: var(--sec-accent);
}

.ct-body a {
    color: var(--gen-text);
}

.ct-body header.tree-nav {
    z-index: 400000;
}

.ct-body header .content {
    margin: 0 0 1.5rem;
}

.ct-body .chart {
    height: 500px;
}

.ct-body .chart.short {
    height: 350px;
}

.ct-body section:not(#plan-area) .row>* {
    margin: 2rem 0;
}

.ct-body .form-group .form-group-label {
    background-color: var(--pri-accent);
    border: 0;
    color: var(--pri-color);
}

#sidebar-toggle .icon {
    transform: translate(-40%);
    border-radius: 0 0 9vw 0;
    background-color: var(--pri-accent);
    writing-mode: vertical-rl;
    text-orientation: upright;
    width: 10vw;
}

#sidebar-close .icon {
    width: 100%;
    text-align: right;
}

#sidebar {
    background-color: var(--pri-accent);
    padding-top: 2vh;
}

#sidebar .content a.row {
    justify-content: center;
    align-items: center;
}

#sidebar .content a h6 {
    color: var(--pri-color);
    text-transform: uppercase;
}

#sidebar img {
    width: 9vw;
}

.ct-body .tree-nav-body .tree-nav-content {
    padding: 0 0;
}

#population {
    text-align: center;
}

#trend-sel span {
    display: none;
}

#plan-area {
    height: 100vh;
    overflow: hidden;
}

#plan-area .tab-container ul.row {
    height: 5vh;
    padding: 0 0;
    margin: 0 0;
    border: 0;
}

#plan-area .tab-container li .tab-item-content {
    background-color: var(--pri-accent);
    color: var(--gen-text);
}

#plan-area .tab-container li:hover .tab-item-content {
    border-bottom-color: var(--pri-color);
}

#plan-area .tab-container li.selected .tab-item-content {
    border-bottom-color: var(--pri-color);
    color: var(--pri-color);
}

#plan-area .tab-content {
    position: relative;
    transform: translateX(-150%);
}

#ura-zones-map {
    height: 95vh;
}

#ura-zones-map .info h5,
#ura-zones-map .info p,
#ura-zones-map .map-country-tooltip p {
    margin: 0;
}

#ura-zones-map .map-country-tooltip {
    background-color: var(--sec-accent-o8);
    text-align: center;
    border: 0px;
    color: var(--gen-text);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: none;
}

#ura-zones-map .info {
    background-color: var(--sec-accent-o8);
    padding: 0.5rem;
    float: none;
    clear: none;
    position: absolute;
    bottom: 20px;
    text-align: center;
}

#ura-zones-map .info>* {
    color: #57423F;
}

#ura-zones-map .info h6 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

#ura-zones-map .info #area-info,
#ura-zones-map .info p {
    margin-bottom: 0.5rem;
}

#ura-zones-map .info .legend {
    line-height: 1.4rem;
    background-color: var(--gen-text);
    color: var(--sec-accent);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

#ura-zones-map .info .legend i {
    display: inline-flex;
    width: 1.2rem;
    height: 1rem;
    margin-right: 0px;
    opacity: 0.8;
}

#geo-age-group.gender-activated {
    transform: translateX(0);
    transition: 1s ease transform;
}

#geo-age-gender {
    transform: translateX(-150%);
}

#geo-age-gender.active {
    transition: 1.1s ease-in-out transform;
    transform: translate(70%, -105%);
    z-index: 1;
}

@media screen and (max-width: 640px) {
    #plan-area .tab-container li:nth-child(odd) {
        border-right: 1px solid var(--ter-color);
    }
}