:root {
    --pri-color: #E73340;
    --pri-accent: #F3EED9;
    --pri-accent-o8: rgb(243, 237, 216, 0.8);
    --sec-color: #F6AE2D;
    --sec-accent: rgb(246, 240, 237);
    --sec-accent-o8: rgb(246, 240, 237, 0.8);
    --ter-color: rgb(40, 89, 67, 0.5);
    --gen-text: #57423F;
    --bg-color: rgb(241, 238, 243, 0.95);
}

body {
    background-color: var(--sec-accent);
}

.tree-nav-body a {
    color: var(--gen-text);
}


/* --- start tree navigation menu --- */

.tree-nav-body header.tree-nav {
    background-color: var(--pri-accent);
    padding: 1.5rem;
    z-index: 400002;
}

header.tree-nav ul .menu-item a {
    font-size: 0.9rem;
}

header.tree-nav .row {
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    align-items: center;
}

header.tree-nav .row img {
    max-width: 12vw;
    padding-right: 0.5rem;
}

header.tree-nav .content a h1 {
    font-size: var(--font-size-l);
    color: var(--pri-color);
    text-transform: uppercase;
    text-shadow: -3px 3px var(--cirrus-light-gray);
}

header.tree-nav .tree-item-header {
    margin: 0 0;
    font-size: 1.1rem;
}

header.tree-nav .menu-item:hover>a {
    color: var(--pri-color);
}

header.tree-nav .menu-item a.selected {
    background-color: rgba(208, 208, 208, .3);
    color: var(--pri-color);
}

#sidebar-close .icon {
    width: 100%;
    text-align: right;
    padding-right: 0.2rem;
}


/* --- start tree navigation toggle (mobile hamburger) --- */

#sidebar-toggle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 400001;
    padding: 0;
}

#sidebar-toggle .icon {
    transform: translate(-30%);
    box-shadow: 1px 1px 1px var(--cirrus-light-gray);
    border-radius: 0 0 80px 0;
    background-color: var(--sec-accent-o8);
    width: 3rem;
}

#sidebar-toggle .icon img {
    padding-top: 5px;
}


/* --- start main content body --- */

.tree-nav-body main.tree-nav-content {
    padding: 0 0;
    overflow: hidden;
    position: relative;
    background-color: var(--bg-color);
}

main.tree-nav-content section {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-110%, 0);
}

main.tree-nav-content section.active {
    transform: translate(0, 0);
    transition: width 4s, height 0.5s, ease-in, transform;
}

main.tree-nav-content section:not(#plan-area) {
    overflow-x: hidden;
    overflow-y: scroll;
}

main.tree-nav-content section:not(#plan-area) .section-content {
    margin: 1rem 1rem;
}

main section:not(#plan-area) div.section-content .row>* {
    margin: 1rem 0;
}


/* --- start filter form groups --- */

main.tree-nav-content .form-group {
    margin: 0 0;
    color: var(--ter-color);
}

main.tree-nav-content .form-group .form-group-label {
    background-color: var(--pri-accent);
    border: 0;
    color: var(--pri-color);
    padding: 0.8rem 8vw;
    font-weight: bold;
}

main.tree-nav-content .form-group select:not(.input-error) {
    border-radius: 0;
}

main.tree-nav-content .form-group select.input-error {
    color: #b31e1d;
}

#trend-sel {
    text-align: center;
}

#trend-sel span {
    display: none;
    font-size: var(--font-size-m);
}


/* --- start charts / graphs --- */

main.tree-nav-content .chart-flex {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

main.tree-nav-content .chart-lg {
    height: 700px;
}

main.tree-nav-content .chart-sm {
    height: 400px;
}

main.tree-nav-content .chart-xs {
    height: 350px;
}

main.tree-nav-content .chart-xxs {
    height: 200px;
    margin-bottom: 1.5rem;
}

#population {
    text-align: center;
}

#plan-area .chart {
    height: 500px;
}

#plan-area .chart-sm {
    height: 300px;
}

#plan-area .chart-xs {
    height: 280px;
}

#geo-age-group.gender-activated {
    transform: translateX(0);
    transition: 1s ease transform;
}

#geo-age-gender {
    transform: translateX(-150%);
}

#geo-age-gender.active {
    transition: 1.1s ease-in-out transform;
    transform: translate(70%, -105%);
    z-index: 1;
}


/* --- start tab menu and content --- */

#plan-area .tab-container ul.row {
    min-height: 5vh;
    padding: 0 0;
    margin: 0 0;
    border: 0;
    font-size: var(--font-size-m);
    font-weight: bold;
}

#plan-area .tab-container li.disabled .tab-item-content,
#plan-area .tab-container li.disabled:hover .tab-item-content {
    border-bottom: 0;
    background-color: var(--cirrus-light-gray);
    color: var(--cirrus-dark-gray);
    cursor: not-allowed;
}

#plan-area .tab-container li .tab-item-content {
    box-sizing: border-box;
    background-color: var(--pri-accent);
    color: var(--gen-text);
    height: 100%;
    padding: 0.3rem 0.5rem 0rem;
}

#plan-area .tab-container li:hover .tab-item-content {
    border-bottom-color: var(--pri-color);
}

#plan-area .tab-container li.selected .tab-item-content {
    border-bottom-color: var(--pri-color);
    color: var(--pri-color);
}

#plan-area .tab-content-container {
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 5vh;
    height: 95vh;
    width: 100%;
    transform: translateX(-200%);
    transition: .5s ease-in-out transform;
    background-color: var(--bg-color);
}

#plan-area .tab-content-container.active {
    z-index: 400000;
    transform: translate(0, 0);
    transition: .5s ease-in-out transform;
}

#plan-area .tab-content {
    padding: 1.3rem;
}

#plan-area .tab-content.row>* {
    margin: 0.5rem 0;
}


/* --- start map and controls --- */

#ura-zones-map {
    height: 95vh;
}

#ura-zones-map:focus {
    box-shadow: none;
}

#ura-zones-map .info h5,
#ura-zones-map .info p,
#ura-zones-map .map-country-tooltip p {
    margin: 0;
}

#ura-zones-map .map-country-tooltip {
    background-color: var(--sec-accent-o8);
    text-align: center;
    border: 0;
    color: var(--gen-text);
    font-weight: bold;
    font-size: 1rem;
    box-shadow: none;
}

#ura-zones-map .info {
    background-color: var(--sec-accent-o8);
    padding: 0.7rem;
    float: none;
    clear: none;
    text-align: center;
}

#ura-zones-map .info>* {
    color: var(--gen-text);
}

#ura-zones-map .info .subtitle {
    font-weight: bold;
    font-size: var(--font-size-m);
    margin-bottom: 0.5rem;
}

#ura-zones-map .info #area-info h5 {
    font-size: var(--font-size-xl);
}

#ura-zones-map .info #area-info p {
    font-size: var(--font-size-l);
    margin-bottom: 0.5rem;
}

#ura-zones-map .info .legend {
    padding: 0.4rem;
    margin: 0.5rem;
}

#ura-zones-map .leaflet-control a {
    padding: 0;
}

#ura-zones-map .info .legend {
    line-height: 1.4rem;
    background-color: var(--gen-text);
    color: var(--sec-accent);
    font-weight: 500;
    display: inline-flex;
    align-items: center;
}

#ura-zones-map .info .legend i {
    display: inline-flex;
    width: 1.2rem;
    height: 1rem;
    margin-right: 0px;
    opacity: 0.8;
}


/* --- start compare form --- */

#compare-form {
    height: 80vh;
    width: 50vw;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 16%;
}

#compare-form p {
    margin: 1rem 1rem 1rem 0;
}

#compare-form>div {
    margin: 1rem;
}

#compare-form .input-control {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
}

#compare-form .input-control .form-ext-radio:not(:first-child) {
    margin: 0 0.5rem;
}

#compare-form input[type='submit'] {
    margin: 5rem 0.5rem;
}

#compare-form .validation {
    text-align: center;
    margin: 0.5rem;
}

#compare-form .validation span {
    display: none;
}


/* --- start multi-select --- */

#compare-form .drop {
    width: 100%;
}

#compare-form .drop .drop-display {
    position: relative;
    padding: .85rem 1.1rem;
    border: 1px solid #ddd;
    background: transparent;
    height: 100%;
}

#compare-form .drop .drop-display:after {
    /* font-family: 'Font Awesome 6 Free';
    content: "\f078"; */
    background: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%204%205'%3E%3Cpath%20fill='%23667189'%20d='M2%200L0%202h4zm0%205L0%203h4z'/%3E%3C/svg%3E") right .85rem center/.5rem .6rem no-repeat no-repeat;
    content: "";
    position: absolute;
    display: inline-block;
    top: 0.8rem;
    height: 30px;
    width: 30px;
    font-size: initial;
    ---webkit-appearance: none;
}

#compare-form .drop .drop-display .item {
    border: 1px solid var(--ter-color);
    color: var(--gen-text);
}

#compare-form .drop .drop-options {
    background-color: var(--sec-accent-o8);
    box-shadow: 0px 1px 1rem rgb(0 0 0 / 25%);
}

#compare-form .drop .drop-options a {
    padding: 0px 20px;
    color: var(--gen-text);
}

#compare-form .drop .drop-options a:hover {
    background: var(--ter-color);
    color: var(--cirrus-light-gray);
    cursor: pointer;
}


/* --- start medium devices --- */

@media screen and (max-width: 1024px) {
    /* --- start tree navigation menu --- */
    .tree-nav-body header.tree-nav {
        padding: 1rem;
        height: 100%;
        left: 0;
        overflow-y: auto;
        position: fixed;
        top: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        transition: transform var(--animation-duration) ease, -webkit-transform var(--animation-duration) ease;
    }
    .tree-nav-body header.tree-nav:target {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        transition: transform var(--animation-duration) ease, -webkit-transform var(--animation-duration) ease;
        transition: -webkit-transform var(--animation-duration) ease;
        transition: transform var(--animation-duration) ease
    }
    header.tree-nav .content a h1 {
        font-size: var(--font-size-m);
    }
    header.tree-nav .tree-item-header {
        font-size: var(--font-size-s);
    }
    header.tree-nav ul .menu-item a {
        font-size: var(--font-size-xs);
    }
    header.tree-nav .row img {
        max-width: 15vw;
    }
    /* --- start filter form groups --- */
    main.tree-nav-content .form-group .form-group-label {
        font-size: var(--font-size-s);
    }
    /* --- start charts / graphs --- */
    main.tree-nav-content #trend .chart-flex {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* --- start tab menu and content --- */
    #plan-area .tab-container li .tab-item-content {
        font-size: var(--font-size-s);
    }
}


/* --- start smaller devices --- */

@media screen and (max-width: 640px) {
    /* --- start tree navigation menu --- */
    .tree-nav-body header.tree-nav {
        padding: 0.5rem;
    }
    /* --- start main content body --- */
    main.tree-nav-content section {
        height: 100%;
        width: 100vw;
    }
    /* --- start filter form groups --- */
    main.tree-nav-content .form-group {
        flex-wrap: wrap;
    }
    main.tree-nav-content .form-group .form-group-label {
        width: 100%;
        padding: 0.4rem;
        text-align: center;
        font-size: var(--font-size-s);
        flex: 100%;
    }
    main.tree-nav-content .form-group select {
        width: 100%;
        padding: 0.4rem 1rem;
        text-align: center;
        font-size: var(--font-size-s);
        flex: 50%;
    }
    main.tree-nav-content .form-group span.info {
        text-align: center;
    }
    /* --- start tab menu and content --- */
    #plan-area .tab-container ul.row {
        height: 12vh;
    }
    #plan-area .tab-content-container {
        top: 12vh;
    }
    #plan-area .tab-container li .tab-item-content {
        padding: 0.2rem 0.4rem;
        border-bottom: 0;
        border-right: 0;
    }
    #plan-area .tab-container li.selected .tab-item-content {
        border-bottom: 2px solid var(--pri-color);
    }
    /* --- start map and controls --- */
    #ura-zones-map {
        height: 88vh;
    }
    #ura-zones-map .info {
        width: 100vw;
        margin: 0.5rem 0;
    }
    #ura-zones-map .info .subtitle {
        font-size: var(--font-size-s);
        margin-bottom: 0.5rem;
    }
    #ura-zones-map .info #area-info h5 {
        font-size: var(--font-size-l);
    }
    #ura-zones-map .info #area-info p {
        font-size: var(--font-size-m);
    }
    #ura-zones-map .info #area-info,
    #ura-zones-map .info p {
        margin: 2px 12px;
    }
    #ura-zones-map .info .legend {
        font-size: var(--font-size-xs);
    }
    #ura-zones-map .leaflet-control-attribution {
        font-size: var(--space-size);
    }
    .leaflet-touch .leaflet-bar a {
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .leaflet-touch .leaflet-control-zoom-in,
    .leaflet-touch .leaflet-control-zoom-out {
        font-size: var(--font-size-s);
    }
}


/* --- start folding devices --- */

@media screen and (max-width: 300px) {
    #ura-zones-map .info {
        bottom: 1.3vh;
        padding: 0.2rem;
    }
}